body,html {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
.bg {
  margin: 0;
    font-family: "Lato", sans-serif;
  }
.title{
    position: relative;
    align-items: center;
}

  .sidebar {
    margin-left: 0;
    padding: 0;
    width: 210px;
    background-color: #31b851;
    position: fixed;
    height: 100%;
    float: left;
  }
  
  .sidebar a {
    display: block;
    color: #F0F0F0;
    padding: 17px;
    text-decoration: none;
  }
   
   
  .sidebar a.active {
    background-color: #023144;
    color: rgb(255, 255, 255);
    
  }
  

.sidebar a:hover:not(.logo-menu) {
    background-color: #000000;
    color: white;
    
}


.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
    color: rgb(0, 0, 0) ;
    margin-left: 200px;
    padding: 0px 50px;
    padding-top: 16px;
    height: 100vh;
    /* background-color: rgb(5, 137, 189); */
    background-image: url(../pics/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
/* Panel div*/
section {
  margin-top: 3%;
  display:flex;
  align-items:center;
  justify-content: center;
  height: 80vh;
}

h1 {
 
    font-size:4rem;
    text-transform: capitalize;
    text-align: center;
    

}

.article h3{
  text-align: center;
  margin-top: 40%;
  background-color: rgba(116, 160, 12, 0.645);
  font-weight: bold;
}
.footer {
  height: 100%;
  background-color: #055394;
  color: white;


}
