body,html {
  margin: 0;
  height: 100%;
}

.bg {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #fff279;
  }
.title{
    position: relative;
    align-items: center;
}

.sidebar {
  margin-left: 0;
  padding: 0;
  width: 210px;
  background-color: #00ACC1;
  position: fixed;
  height: 100%;
  float: left;
}
  
  .sidebar a {
    display: block;
    color: #F0F0F0;
    padding: 17px;
    text-decoration: none;
  }
   
   
  .sidebar a.active {
    background-color: #023144;
    color: rgb(255, 255, 255);
  }
  

.sidebar a:hover:not(.logo-menu) {
    background-color: #0021fa;
    color: white;
}

.video{
  background-color: rgba(0, 0, 0, 0.50);
}
  
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  color: white ;
  margin-left: 200px;
  padding: 0px 50px;
  padding-top: 16px;
  height: 100vh;
  /* background-color: rgb(5, 137, 189); */
  background-image: url(../pics/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}




















